body#background {
  background: url('../images/pineapples.jpg') no-repeat 50% 50% fixed; 
  background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
}
	

.jumbotron, .correct, .incorrect, .timer {
	background-color: #ffffe0;
}

h2 {
	color: green;			
}

